<html>
<head>
    <title>Thymeleaf Fragments: home</title>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">weather viewer</a>
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:if="${username == null || username.isEmpty()}" class="nav-link" href="/login">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${username == null || username.isEmpty()}" class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <span th:unless="${username == null || username.isEmpty()}" class="nav-link fw-bolder" href="#" th:text="${username}"></span>
                    </li>
                    <li class="nav-item">
                        <a th:unless="${username == null || username.isEmpty()}" class="nav-link" href="/logout">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div th:fragment="search-bar">
    <div class="row justify-content-center align-items-center my-5">
        <div class="w-auto">
            <form class="input-group" method="get" th:action="@{/search}">
                <div class="form-outline">
                    <input type="search" id="input1" class="form-control"
                           placeholder="enter location" name="query"/>
                </div>
                <button type="submit" class="col btn btn-primary">
                    search
                </button>
            </form>
        </div>
    </div>
</div>
<div th:fragment="location_list(buttonClass, buttonText, action, method)">
        <div class="container text-center">
            <div class="row row-cols-6">
                <!--/*@thymesVar id="locations" type="java.util.List<com.vadimistar.weatherviewer.web.models.LocationModel>"*/-->
                <div class="col" th:each="location : ${locations}">
                    <form th:action="@{${action}(id=${location.getId()},name=${location.getName()},lat=${location.getLat()},lon=${location.getLon()})}" th:method="${method}">
                        <div class="d-flex flex-column bd-highlight mb-3">
                            <img th:src="${location.getIconUrl()}" alt=""/>
                            <span class="fw-bold display-3" th:text="${location.getTemperature()} + '°'"></span>
                            <span class="fw-bold" th:text="${location.getName()}"></span>
                            <span th:text="${location.getTime()}"></span>
                            <div class="mt-4">
                                <button th:class="${buttonClass}" th:text="${buttonText}">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</body>
</html>